@import "tailwindcss";

@font-face {
  font-family: 'Modernist';
  src: url('../public/fonts/Sk-Modernist-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@theme {
    --font-modernist: Modernist, "sans-serif"
}

body {
  background-color: #060519;
  color: #fff;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #7D6DF1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #6b5ce0; /* subtle hover */
}

/* Firefox support */
* {
  scrollbar-width: thin;
  scrollbar-color: #7D6DF1 transparent;
}